@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CourseManagement.Helpers
@model HomeModel

<!-- Page header -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="text-bold">Trang chủ</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1">
                    <i class="fas fa-calendar-alt"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Khóa học</span>
                    <span class="info-box-number">@Model.TotalCourses</span>
                </div>
            </div>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1">
                        <i class="fas fa-users"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Thành viên</span>
                        <span class="info-box-number">@Model.TotalUsers</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-transparent">
                    <h3 class="card-title">Khóa học mới nhất</h3>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th>Mã khóa học</th>
                                    <th>Tên khóa học</th>
                                    <th>Ngày tạo</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.LatestCourses.Length > 0) foreach (var result in Model.LatestCourses)
                                {
                                    <tr>
                                        <td>@result.CourseCode</td>
                                        <td>@result.CourseName</td>
                                        <td>@result.CreatedAt.ToString(WebConstants.DATE_TIME_FORMAT_VN)</td>
                                        <td>
                                            <span class="badge badge-@((result.Status == 1) ? "primary" : "warning")">
                                                @ValueTextHelper.GetCourseStatusText(result.Status.ToString())
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@WebConstants.PAGE_COURSES_REGISTER" class="btn btn-sm btn-primary float-left">Tạo mới</a>
                    }
                    <a href="@WebConstants.PAGE_COURSES_LIST" class="float-right">Xem tất cả</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Khóa học nổi bậc (đăng ký nhiều)</h3>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th>Mã khóa học</th>
                                    <th>Tên khóa học</th>
                                    <th>Số lượng</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TopRegistrations.Length > 0) foreach (var result in Model.TopRegistrations)
                                {
                                    <tr>
                                        <td>@result.CourseCode</td>
                                        <td>@result.CourseName</td>
                                        <td>@result.TotalUsers</td>
                                        <td>
                                            <span class="badge badge-@((result.Status == 0) ? "warning" : (result.Status == 1) ? "primary" : (result.Status == 2) ? "success" : "danger")">
                                                @ValueTextHelper.GetCourseStatusText(result.Status.ToString())
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="@WebConstants.PAGE_ENROLLMENTS_LIST" class="float-right">Xem tất cả</a>
                </div>
            </div>
        </div>
    </div>
</section>