@using CourseManagement.Domain.Courses.Helpers
@using CourseManagement.Helpers
@model SearchCondition

<form
    id="frmSearch"
    data-ajax="true"
    data-ajax-method="get"
    data-ajax-update="#tblCourses tbody"
    data-ajax-mode="replace"
    data-ajax-success="loadPagination()"
    data-ajax-url="@Url.Action("Search", "Courses")">

    <div class="row mb-2">
        <div class="col-md-3 mb-2">
            <label>Khóa học</label>
            <input asp-for="SearchWord" type="search" class="form-control form-control-md" autocomplete="off" maxlength="100" />
        </div>
        <div class="col-md-2">
            <label>Bắt đầu (từ)</label>
            <div class="input-group date max-w-150px" id="dvStartDateFrom" data-target-input="nearest">
                <input type="text" id="tbStartDateFrom" name="StartDateFrom" class="form-control datetimepicker-input" value="@Model.StartDateFrom" data-target="#dvStartDateFrom" autocomplete="off" />
                <div class="input-group-append" data-target="#dvStartDateFrom" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <label>Bắt đầu (đến)</label>
            <div class="input-group date max-w-150px" id="dvStartDateTo" data-target-input="nearest">
                <input type="text" id="tbStartDateTo" name="StartDateTo" class="form-control datetimepicker-input" value="@Model.StartDateTo" data-target="#dvStartDateTo" autocomplete="off" />
                <div class="input-group-append" data-target="#dvStartDateTo" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <label>Kết thúc (từ)</label>
            <div class="input-group date max-w-150px" id="dvEndDateFrom" data-target-input="nearest">
                <input type="text" id="tbEndDateFrom" name="EndDateFrom" class="form-control datetimepicker-input" value="@Model.EndDateFrom" data-target="#dvEndDateFrom" autocomplete="off" />
                <div class="input-group-append" data-target="#dvEndDateFrom" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <label>Kết thúc (đến)</label>
            <div class="input-group date max-w-150px" id="dvEndDateTo" data-target-input="nearest">
                <input type="text" id="tbdvEndDateTo" name="EndDateTo" class="form-control datetimepicker-input" value="@Model.EndDateTo" data-target="#dvEndDateTo" autocomplete="off" />
                <div class="input-group-append" data-target="#dvEndDateTo" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2 mb-2">
            <label>Trạng thái</label>
            @Html.DropDownListFor(
                model => model.Status,
                new SelectList(ValueTextHelper.GetCourseStatuses(), "Value", "Text", Model.Status),
                new { @class = "select2", @style = "width: 100%;" })
        </div>
        <div class="col-md-3 mb-2">
            <label>Giảng viên</label>
            <input asp-for="Lecturer" type="search" class="form-control form-control-md" autocomplete="off" maxlength="100" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-2">
            <button type="button" id="btnSearch" class="btn btn-md btn-primary">Tìm kiếm</button>
            <a id="btnReset" class="btn btn-md btn-link">reset</a>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-6 text-right">
                <a class="btn btn-primary" href="@WebConstants.PAGE_COURSES_REGISTER">Thêm</a>
            </div>
        }
    </div>

    <input type="hidden" asp-for="PageLength" />
    <input type="hidden" asp-for="PageNo" />
    <input type="hidden" asp-for="OrderBy" />

</form>